/* mimicfox */
/* extra mica must use with MicaForEveryone */

:root {
  --arrowpanel-border-color-mica: light-dark(#ffffff87, #63636330) !important;
  --arrowpanel-background-mica: light-dark(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)) !important;
}

/* handle all popup background to mica background */
menupopup,
panel:not(.autoscroller),
slot[part="content"] {
  background-color: transparent !important;
  appearance: menupopup !important;
  --panel-shadow-margin: 0px !important;
}

/* restore autoscroller */
panel.autoscroller slot[part="content"],
panel#autoscroller {
  .autoscroller {
    &[scrolldir="NS"] {
      appearance: none !important;
    }
  }
}

/* reduce border color */
toolbarseparator {
  border-color: var(--arrowpanel-border-color-mica) !important;
}

/* give all acrylics background color */
@media -moz-pref("widget.windows.mica.toplevel-backdrop", 2) {
  panelmultiview,
  #tab-preview-panel,
  #editBookmarkPanel,
  .menupopup-arrowscrollbox {
    background-color: var(--arrowpanel-background-mica) !important;
  }
}

/* popup windows */

/* make about dialog background transparent */
@-moz-document url("chrome://browser/content/aboutDialog.xhtml")
{
  #aboutDialog,
  #aboutDialogContainer {
    background: transparent !important;
  }
  @media -moz-pref("widget.windows.mica.toplevel-backdrop", 2) {
    #clientBox,
    #bottomBox {
      background-color: light-dark(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)) !important;
    }
  }
  #rightBox {
    -moz-context-properties: fill !important;
  }

  @media (prefers-color-scheme: light) {
    .text-link {
      color: color-mix(in srgb, AccentColor 80%, black) !important;
    }

    .text-link:hover {
      color: color-mix(in srgb, AccentColor 65%, black) !important;
    }

    .text-link:hover:active {
      color: color-mix(in srgb, AccentColor 50%, black) !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    .text-link {
      color: color-mix(in srgb, AccentColor 80%, white) !important;
    }

    .text-link:hover {
      color: color-mix(in srgb, AccentColor 65%, white) !important;
    }

    .text-link:hover:active {
      color: color-mix(in srgb, AccentColor 50%, white) !important;
    }
  }
}

/* make abuse-report-frame dialog background transparent */
@-moz-document url("chrome://mozapps/content/extensions/abuse-report-frame.html")
{
  ul.abuse-report-reasons > li > label {
    grid-template-columns: unset !important;
    grid-template-rows: unset !important;
    width: unset !important;
    line-height: unset !important;
  }

  html.dialog-window {
    background-color: var(--in-content-page-background) !important;
  }

  .abuse-report-buttons {
    margin-bottom: 10px !important;
  }
}

/* make alert dialog background transparent */
@-moz-document url("chrome://global/content/alerts/alert.xhtml")
{
  #alertNotification {
    background: transparent !important;
    padding-top: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 12px !important;
  }
  #alertBox {
    padding: 8px !important;
    background-clip: padding-box !important;
    background-image: none !important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.32) !important;
  }
}

/* make createProfileWizard dialog background transparent */
@-moz-document url("chrome://mozapps/content/profile/createProfileWizard.xhtml")
{
  .wizard-header {
    background-color: transparent !important;
    border-bottom: none !important;
    height: 40px !important;
    vertical-align: middle;
  }
  .wizard-header-label {
    margin: 5.75px 12px 0px 12px !important;
  }
  .wizard-buttons-separator {
    display: none !important;
  }
  .wizard-next-deck {
    margin-left: 10px !important;
  }
}

/* make commonDialog background transparent */
@-moz-document url("chrome://global/content/commonDialog.xhtml")
{
  window,
  #commonDialogWindow {
    background: transparent !important;
  }
  @media -moz-pref("widget.windows.mica.toplevel-backdrop", 2) {
    #commonDialog {
      background-color: light-dark(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
    }
  }
  #checkbox {
    margin-left: 23px !important;
  }
  #infoIcon {
    -moz-context-properties: fill !important;
    fill: var(--uwp-global-front) !important;
  }
}

/* make datepicker dialog use accent color */
@-moz-document url("chrome://global/content/datepicker.xhtml")
{
  body {
    background: transparent;
    --selected-fill-color: AccentColor !important;
  }
  .spinner {
    scrollbar-width: thin !important;
  }
}

/* make exceptionDialog background transparent */
@-moz-document url("chrome://pippki/content/exceptionDialog.xhtml")
{
  #exceptiondialog {
    background-color: black !important;
  }
  .dialog-content-box {
    color: white !important;
  }
  caption {
    background-color: transparent !important;
    font-size: 16px !important;
    font-weight: bold !important;
  }
  vbox > image {
    display: none !important;
  }
  #locationGroupBox {
    margin-top: 5px !important;
  }
}

/* make library & download window background transparent */
@-moz-document url("chrome://browser/content/places/places.xhtml")
{
  #placesList,
  #detailsPane,
  #placesPopupset,
  #placesToolbox,
  #placesToolbar,
  #downloadsListBox,
  #placeContent,
  #placesContentTags,
  #placesContentTitle,
  #placesContentUrl,
  #places {
    background-color: transparent !important;
    border: 0.5px !important;
  }
  @media -moz-pref("widget.windows.mica.toplevel-backdrop", 2) {
    #placesToolbar,
    #placesList,
    #contentView {
      background-color: var(--arrowpanel-background-mica) !important;
    }
  }
  #infoBox {
    border-top: 1px solid var(--arrowpanel-border-color-mica) !important;
  }
  #placesView > splitter {
    border-inline-end: 1px solid var(--arrowpanel-border-color-mica) !important;
  }
  #infoBox {
    border-top: 1px solid var(--arrowpanel-border-color-mica) !important;
  }
}

@-moz-document url("chrome://browser/content/pageinfo/pageInfo.xhtml")
{
  #main-window {
    background: transparent !important;
  }
  /* Change Header Size */
  @media -moz-pref("widget.windows.mica.toplevel-backdrop", 2) {
    #topBar,
    #mainDeck {
      color: lightgray !important;
      background-color: light-dark(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)) !important;
      border: none !important;
    }
  }
  #permHostBox > label {
    margin-top: 7px !important;
  }
  #permList {
    border: none !important;
    -moz-appearance: none !important;
  }
  #feedListbox {
    border: none !important;
    -moz-appearance: none !important;
  }
  #feedListbox > richlistitem {
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
  }
  #feedListbox richlistitem:not([selected="true"]) {
    border-bottom: 0px !important;
  }
  .text-link {
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
  }
  .permission {
    border: none !important;
  }
  .permission:hover {
    background-color: #191919 !important;
    color: white !important;
  }
  .permission:hover:active {
    background-color: #333333 !important;
  }
  caption {
    background-color: transparent !important;
    font-size: 16px !important;
    font-weight: bold !important;
  }
  #imagecontainerbox {
    background-color: black !important;
    border: none !important;
  }
  #viewGroup > radio {
    padding-left: 13px !important;
    padding-right: 13px !important;
    padding-top: 9.5px !important;
    padding-bottom: 9.5px !important;
  }
  #viewGroup > radio[selected="true"] {
    background-color: transparent !important;
    border-bottom: 3px solid AccentColor;
    padding-bottom: 6.5px !important;
  }
  #viewGroup > radio > .radio-label-box {
    outline: none !important;
    color: var(--arrowpanel-color);
  }
  #viewGroup > radio:hover {
    background-color: rgb(60, 60, 60) !important;
    color: white !important;
  }
}
