/* mimicfox 🔥🦊 */
/* nova compatibility */

/* browser.css */
:root {
  --panel-border-radius: 8px !important;
}

#sidebar-main:not([sidebar-panel-open]) + #sidebar-launcher-splitter {
  margin-inline: calc(-1 * var(--chrome-window-gap)) !important;
}

.urlbarView-row {
  padding: 0px !important;
  min-height: var(--urlbarview-row-min-height) !important;
  height: var(--urlbarview-row-min-height) !important;
}

/* mica.css */

/* urlbar.css */
.urlbar-background {
  .urlbar[popover-open] > & {
    inset-inline: calc(-1 * (var(--urlbar-margin-inline) + var(--urlbar-input-growth-open-inline)));
    inset-block: calc(-1 * (var(--urlbar-margin-inline) + var(--urlbar-input-growth-open-block)));
  }
}

.urlbarView-row {
  &:not([type="tip"], [type="dynamic"]) {
    :root:not([uidensity="compact"]) & {
      min-height: calc(var(--urlbarview-row-min-height) + 2 * var(--urlbarView-row-extra-padding-block));
      margin-top: 2px !important;
    }
  }
}

.urlbarView-row-inner {
  padding-block: 2px !important;
}

.urlbarView {
  & .urlbarView-results {
    padding-block: px !important;
    padding-inline: 0px !important;
  }
}
