/* mimicfox */

/* dynamic padding sidebar */
@media -moz-pref("uc.tweak.rounded-corners") {
  #main-window:not([sizemode="maximized"]) #vertical-tabs {
    margin-right: calc(var(--uc-tweak-rounded-corners-padding) * -1) !important;
  }

  #main-window[sizemode="maximized"] #vertical-tabs {
    margin-right: 0 !important;
  }
}

#vertical-spacer {
  display: none;
}

/* hide sidebar tab overflow shadow */
@media -moz-pref("uc.tweak.remove-overflow-indicator") {
  spacer[part="overflow-start-indicator"],
  spacer[part="overflow-end-indicator"] {
    display: none;
  }
}

/* hide sidebar config button */
@media -moz-pref("uc.tweak.remove-sidebar-config-button") {
  moz-button[view="viewCustomizeSidebar"] {
    display: none !important;
  }

  button-group.tools-and-extensions.actions-list {
    padding-bottom: var(--space-small) !important;
  }

  #tabbrowser-tabs[orient="vertical"] {
    &[overflow]::after {
      border-bottom: none !important;
    }
  }

  box#vertical-tabs {
    margin-bottom: calc(-1 * var(--space-small));
  }
}
