/* mimicfox 🔥🦊 */
/* urlbar.css */
/* OG https://github.com/bmFtZQ/edge-frfox */
:root {
  --urlbarView-item-inline-padding: calc(
    1px + var(--uc-urlbar-inline-padding) + var(--uc-urlbar-icon-inline-padding)
  ) !important;
  --urlbar-icon-border-radius: 99px !important;
  --urlbar-icon-padding: calc(var(--toolbarbutton-inner-padding) - 2px) !important;
  --urlbar-margin-inline: 6px !important;
  --identity-box-margin-inline: 6px !important;
  --uc-urlbar-icon-inline-padding: var(--uc-toolbarbutton-inner-inline-padding);
  --uc-urlbar-inline-padding: 8px;
  --uc-urlbar-shadow: 0 0 4px rgb(0 0 0 / 0.1);
  --urlbarView-rich-suggestion-default-icon-size: 32px !important;
  --uc-urlbar-open-border-radius: 8px !important;
  --dot-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg fill="context-fill" width="13px" height="12px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M20.25 16c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 27c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 5c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25z"></path></svg>');
  & #urlbar {
    --urlbar-toolbar-height: calc(8px + 16px + var(--toolbarbutton-inner-padding) * 2) !important;
    --urlbar-height: calc(16px + var(--toolbarbutton-inner-padding) * 2) !important;
    --urlbar-min-height: calc(16px + var(--toolbarbutton-inner-padding) * 2) !important;
  }

  /* Spacing for urlbar suggestion icons. */
  .urlbarView-row {
    --urlbarView-icon-margin-start: 0px !important;
    --urlbarView-icon-margin-end: calc(
      var(--uc-urlbar-icon-inline-padding) + var(--identity-box-margin-inline)
    ) !important;
  }
}

/* search mod background */
.searchmode-switcher-chicklet {
  border-start-end-radius: var(--urlbar-icon-border-radius) !important;
  border-end-end-radius: var(--urlbar-icon-border-radius);
}

/* show-tab-close-button on hover on tab */
@media not -moz-pref("uc.tweak.always-show-tab-close-button") {
  /* show close button on hover */
  .tabbrowser-tab:not([pinned]) .tab-close-button {
    display: none !important;
  }
  .tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: inline-flex !important;
  }
}

/* urlbar focus border size */
#urlbar[focused] > .urlbar-background {
  outline: 1px solid var(--focus-outline-color) !important;
  outline-offset: -1px !important;
}

/* .urlbar-icon {
  fill: accentColor !important;
} */

/* bookmark star as accent color */
#star-button[starred] {
  fill: accentColor !important;
}
.urlbar-background,
#searchbar {
  border-radius: calc(var(--urlbar-icon-border-radius) + 2px) !important;

  /* Shadow for urlbar, only appears in light mode. */
  :root:not([lwtheme]) #nav-bar:not([brighttext]) & {
    box-shadow: var(--uc-urlbar-shadow, none);
  }

  /* Appearance when the urlbar is expanded. */
  #urlbar[open] & {
    border-radius: var(--uc-urlbar-open-border-radius) !important;
    border-color: transparent !important;
    box-shadow: 0 10px 16px rgb(0 0 0 / 0.18), 0 3px 5px rgb(0 0 0 / 0.33) !important;
    outline: 0.5px solid var(--arrowpanel-border-color) !important;
    :root:not([lwtheme]) & {
      outline-color: var(--panel-separator-color) !important;
    }
  }
}

/* Add padding to sides of urlbar. */
:is(#urlbar-input-container, .urlbar-input-container),
#searchbar {
  padding-inline: var(--uc-urlbar-inline-padding) !important;
}

/* urlbar suggestions container. */
.urlbarView {
  margin-inline: 0 !important;
  width: 100% !important;
  border-inline: 0 !important;
  padding-block: 0 !important;
  & .urlbarView-body-inner {
    width: 100% !important;
    margin-inline: 0 !important;
  }

  /* Remove padding from top of urlbar results, not needed as urlbar input already has padding. */
  & .urlbarView-results {
    padding-block-start: 0 !important;
  }
}

/* margin search engine button */
.search-panel-one-offs {
  margin-inline-start: 8px !important;
}

/* ----------- urlbar ----------- */
/* Keep urlbar in place when expanding. */
#urlbar[breakout][breakout-extend] {
  /* Firefox < v133 */
  &:not([style*="--urlbar-width"]) {
    left: 0 !important;
    width: 100% !important;
  }
  /* Firefox >= v133 */
  &[style*="--urlbar-width"] {
    margin-left: 0 !important;
    width: var(--urlbar-width) !important;
  }
}

/* Search engine selector */
.search-one-offs:not([hidden]) {
  padding-block: 6px !important;
  & .searchbar-engine-one-off-item {
    min-width: 30px !important;
    height: 30px !important;
  }
  .urlbarView:not([noresults]) > & {
    border-color: var(--urlbarView-separator-color) !important;
  }
  #urlbar-anon-search-settings {
    margin-inline-end: 8px !important;
  }
}
#urlbar-search-mode-indicator {
  :root:not([lwtheme]) & {
    background-color: var(--urlbar-box-hover-bgcolor) !important;
  }
  & #urlbar-search-mode-indicator-title {
    font-size: 0.9em !important;
  }
}

/* Remove border between urlbar input and suggestions. */
#urlbar[open] .urlbarView-body-inner {
  border-top: 0 !important;
}

/* ----------- urlbar item ----------- */
/* Remove empty space from tabs bar */
.urlbarView-row {
  padding-block: 0 !important;
  /* Vertically align search suggestion thumbnail images. */
  &[rich-suggestion] > .urlbarView-row-inner > .urlbarView-favicon {
    margin-inline-start: calc(
      var(--urlbarView-icon-margin-start) + (16px - var(--urlbarView-rich-suggestion-default-icon-size)) / 2
    ) !important;
    margin-inline-end: calc(
      var(--urlbarView-icon-margin-end) + (16px - var(--urlbarView-rich-suggestion-default-icon-size)) / 2
    ) !important;
  }
}
.urlbarView-row:hover {
  background-color: var(--urlbar-box-hover-bgcolor) !important;
}
.urlbarView-row[selected] .urlbarView-row-inner {
  display: flex;
  align-items: center;
  position: relative;
}

/* search item winui3 identical */
.urlbarView-row[selected] .urlbarView-row-inner::before {
  content: "";
  width: 0 !important;
  display: block !important;
  position: absolute !important;
  background-color: AccentColor !important;
  border-radius: 99px;
  padding: 0.7em 2px !important;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

/* ----------- urlbar buttons ----------- */
/* search mode button border radius*/
#searchmode-switcher-chicklet {
  border-start-end-radius: var(--urlbar-icon-border-radius) !important;
}

/* Hide blocked permission icons, see it when pressing permission button */
#blocked-permissions-container {
  display: none !important;
}

/* rounded translations-button */
#translations-button-locale {
  color: white !important;
  border-radius: 99px !important;
}
#translations-button-icon {
  margin-right: 6px;
}

/* === search engine identity icon === */
#identity-box.extensionPage #identity-icon-box:not([open]) #identity-icon-label {
  opacity: 0;
  visibility: collapse;
}
#urlbar #identity-box[pageproxystate="valid"] {
  &.weakCipher,
  &.mixedDisplayContent,
  &.mixedDisplayContentLoadedActiveBlocked,
  &.certUserOverridden,
  &.certErrorPage,
  &.notSecureText {
    & #identity-icon-box {
      margin-inline-start: initial !important;
      opacity: 1;
    }
  }
  &.notSecure,
  &.mixedActiveContent,
  &.httpsOnlyErrorPage {
    & #identity-icon-box {
      margin-inline-start: initial;
      opacity: 1;
    }
  }
}
#urlbar #identity-box[pageproxystate="valid"]:is(.chromeUI, .extensionPage) > #identity-icon-box {
  margin-inline-start: initial;
  opacity: 1;
}
#identity-box::after {
  left: 2px;
}
#identity-box[pageproxystate="invalid"]::after,
.urlbar-input-container[pageproxystate="invalid"] > #page-action-buttons::before {
  opacity: 0 !important;
  transition: opacity 250ms ease;
}

/* ----- hide urlbar buttons ------- */
/* show all buttons */
@media -moz-pref("uc.tweak.urlbar-button",0) {
  #urlbar:is(:not([usertyping]), :not([focused])):not([persistsearchterms]) #page-action-buttons::before,
  #urlbar:is(:not([usertyping]), :not([focused])):not([persistsearchterms]) #identity-box::after {
    display: none;
  }
  #tracking-protection-icon-container {
    margin-inline-start: 0;
    padding-inline: 0 !important;
  }
  #identity-icon-box {
    margin-inline-start: 0;
    padding-left: 0px;
  }
  #identity-permission-box {
    margin-inline-start: 0;
  }
  #notification-popup-box {
  }
  #tracking-protection-icon-container,
  #identity-icon-box,
  #identity-permission-box {
    #urlbar:has(#identity-box:hover) &,
    #urlbar:has(#tracking-protection-icon-container:hover) & {
      margin-inline-start: 0 !important;
    }
    #urlbar &:hover:active,
    #urlbar &[open="true"] {
      margin-inline-start: 0 !important;
    }
  }
  #page-action-buttons .urlbar-page-action {
    margin-inline-end: 0 !important;
    opacity: 1 !important;
  }
  #page-action-buttons #translations-button[translationsactive="true"] {
    margin-inline-end: 0 !important;
    opacity: 1 !important;
  }
  #page-action-buttons #reader-mode-button[readeractive] {
    margin-inline-end: 0 !important;
    opacity: 1 !important;
  }
}

/* hide left */
@media -moz-pref("uc.tweak.urlbar-button",1) {
  /* visual dots */
  #urlbar:is(:not([usertyping]), :not([focused])):not([persistsearchterms])
    #tracking-protection-icon-container::before {
    content: var(--dot-image);
    position: relative;
    pointer-events: none;
    -moz-context-properties: fill, fill-opacity;
    fill: var(--toolbarbutton-icon-fill) !important;
    transition: opacity 250ms ease;
    align-self: center;
    padding-left: 0;
    padding-right: 0;
    margin-right: 4px;
    opacity: 0.3;
  }
  #urlbar:has(#identity-box:hover) #tracking-protection-icon-container::before,
  #tracking-protection-icon-container:hover::before {
    opacity: 1 !important;
  }

  /* === Initial hidden state === */
  #tracking-protection-icon-box,
  #identity-icon-box,
  #identity-permission-box {
    opacity: 0;
    margin-inline-start: -2em;
    pointer-events: none;
    transition: opacity 250ms ease 0ms, margin-inline-start 250ms ease 50ms;
  }

  /* === Show buttons when hovering tracking or identity container === */
  #urlbar:has(#tracking-protection-icon-container:hover) #tracking-protection-icon-box,
  #urlbar:has(#tracking-protection-icon-container:hover) #identity-icon-box,
  #urlbar:has(#tracking-protection-icon-container:hover) #identity-permission-box,
  #urlbar:has(#identity-box:hover) #tracking-protection-icon-box,
  #urlbar:has(#identity-box:hover) #identity-icon-box,
  #urlbar:has(#identity-box:hover) #identity-permission-box {
    opacity: 1;
    margin-inline-start: 0;
    pointer-events: auto;
    transition-delay: 0ms;
  }
}

/* hide right side */
@media -moz-pref("uc.tweak.urlbar-button",2) {
  #urlbar:is(:not([usertyping]), :not([focused])):not([persistsearchterms]) #page-action-buttons::before {
    content: var(--dot-image);
    position: relative;
    pointer-events: none;
    -moz-context-properties: fill, fill-opacity;
    fill: var(--toolbarbutton-icon-fill) !important;
    transition: opacity 250ms ease;
    align-self: center;
    padding-left: 0;
    padding-right: 0;
    margin-right: 4px;
    opacity: 0.3;
  }
  #urlbar:has(#page-action-buttons:hover) #page-action-buttons::before {
    opacity: 1 !important;
  }

  /* === Initial hidden state === */
  #page-action-buttons .urlbar-page-action {
    opacity: 0;
    margin-inline-end: -2em;
    pointer-events: none;
  }
  #page-action-buttons .urlbar-page-action {
    transition: opacity 250ms ease 0ms, margin-inline-end 250ms ease 50ms;
  }
  /* === Show buttons on container hover === */
  #page-action-buttons:hover .urlbar-page-action {
    opacity: 1;
    margin-inline-end: 0;
    pointer-events: auto;
    transition-delay: 0ms;
  }

  /* Already-open buttons */
  #page-action-buttons .urlbar-page-action[open],
  #page-action-buttons .urlbar-page-action[open] ~ .urlbar-page-action,
  #page-action-buttons #translations-button[translationsactive="true"],
  #page-action-buttons #reader-mode-button[readeractive] {
    opacity: 1;
    margin-inline-end: 0;
    pointer-events: auto;
    transition-delay: 0ms;
  }
}
